.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}
a, a:hover, a:active, a:visited, a:focus{
    text-decoration: none;
    display: block;
    color: black;
}

body{
    margin: 0px;
    padding-top:80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
}
p,a{
    font-family: Roboto;
    margin-top: 0px;
    margin-bottom: 0pc;
}
img{
    width: 100%;
    cursor: pointer;
}
.info{
    margin-top: 8px;
    display: grid;
    grid-template-columns: 36px 1fr;
    column-gap: 12px;
}
.channel-photo{
    position: relative;
}
.channel-photo>a>img{
    border-radius: 50px;
    vertical-align: top;
}
.video-title{
    font-weight: 500;
    margin-bottom: 9px;
    cursor: pointer;
    font-size: 14px;
    line-height: 20px;
}
.channel-name,.views{
    font-size: 12px;
    color: rgb(102, 102, 102) !important;
}
.channel-name{
    cursor: pointer;
}
.views{
    margin-top: 3.5px;
}
.navbar-flex{
    display: flex;
    flex-direction: row;
    height: 56px;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    left:0;
    right:0;
    top:0;
    border-bottom: 1px solid rgb(203, 203, 203);
    z-index: 100;
}
.left, .middle, .right{
    display: flex;
    align-items: center;
}

.middle{

    margin-left: 60px;

    flex: 1;
    max-width: 470px;
}
.right{

    width: 182px;
    margin-right: 29px;
    margin-left: 24px;
    justify-content: space-between;
    flex-shrink: 0;
}
.hamburger-menu{
    height: 24px;
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
}
.youtube-logo{
    height: 20px;
    width: auto;
}
.search-img{
    height: 24px;
    margin-top: 4px;
    
}
.serach-btn{
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(247, 247, 247);
    padding: 1px 6px;
    width: 65px;
    height: 40px;
    border-radius: 0px 2px 2px 0px;
    margin-left: -1px;
    margin-right: 8px;
}
.voice-search-icon{
     height: 24px;
     margin-top: 4px;
}
.voice-btn{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #f8f8f8;
}

.search-box{
    font-family: Roboto;
    display: flex;
    flex:1;
    height: 36px;
    padding-left:12px;
    font-size: 16px;
    border: 1px solid rgb(201, 201, 201);
    border-right: none;
    border-radius: 2px 0px 0px 2px;
    box-shadow: inset 1px 2px 5px rgba(0,0, 0,0.05);
    vertical-align: middle;
    width: 0px;
    
}
.search-box:focus{
    outline: none;
    border: 1px solid blue;

}
.right>button>img{
    height: 24px;
    

}
.right>button{
    background-color: white;
    border: none;
    padding: 0px;
    margin: 0px;
}
.right>button>.user-pic{
    height: 32px;
}
.image{
    position: relative;
}
.time{
    position: absolute;
    background-color: black;
    color: white;
    padding: 4px 4px;
    font-weight: 500;
    bottom: 11px;
    right: 4px;
    border-radius: 3px;
    font-size: 12px;
}
.right>.notification{
    position: relative;
}
.notification>.notification-number{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:-4px;
    right:-8px;
    background-color: #cc2132fa;
    color: white;
    border-radius: 50px;
    font-size: 11px;
    padding: 1.5px 5px;
    border: 2px solid white;
    cursor: pointer;

}
.sidebar{
    position: fixed;
    top: 56px;
    left: 0px;
    bottom: 0px;
    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    height: 74px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar-link>img{
    height: 24px;
}
.sidebar-link:hover{
    background-color: rgb(242, 242, 242);
}
.sidebar-link>p{
    margin-top: 6px;
    font-size: 10px;
}
.tooltip{
    background-color: rgb(110, 110, 110);
    color: white;
    padding: 10px 8px;
    font-size: 12px;
    position: absolute;
    bottom: -40px;
    opacity: 0;
    white-space: norap;
    transition: opacity 0.15s;
    pointer-events: none;
}
.serach-btn, .voice-btn, .right>button{
    display: flex;
    justify-content: center;
}
.serach-btn:hover>.tooltip, .voice-btn:hover>.tooltip, .right>button:hover>.tooltip{
    opacity: 1;
}
.notification>.tooltip{
    bottom: -55px;
}
.channel-photo-preview{
    display: flex;
    position: absolute;
    background-color: white;
    padding: 5px 15px;
    height: 80px;
    width: 250px;
    box-shadow: 1px 1px 10px gray;
    border-radius: 5px;
    align-items: center;
    opacity: 0;
    z-index: 1;
    top: 50px;
    transition: opacity 0.15s;
    pointer-events: none;
}
.channel-photo-preview>img{
    width: 50px;
    border-radius: 50px;
    margin-right: 10px;
}
.channel-photo-preview-title{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.channel-photo-preview-views{
    color: rgb(102, 102, 102);
    font-size: 16px;
}
.channel-photo>a:hover .channel-photo-preview{
    opacity: 1;
}
@media (max-width: 1020px){
    .main-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 790px){
    .main-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 550px){
    .main-grid{
        grid-template-columns: 1fr;
    }
    
}